:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --grey: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

.header {
  text-align: center;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.main-heading {
  font-size: 2.5rem;
  color: var(--grey);
  margin-bottom: 1rem;
  font-weight: 300;
}

.new-task-form {
  display: flex;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#newTask {
  flex: 1 1 0%;
  background: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  color: var(--light);
}

#newTask::placeholder {
  color: var(--grey);
}

#new-task-submit {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--grey);
  margin-bottom: 1rem;
}

.tasks .task {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between;
  background: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.task .task-content {
  flex: 1 1 0%;
}

.tasks .task .task-content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

.tasks .task .task-content .text:not(:read-only) {
  color: var(--pink);
}

.tasks .task .task-action-btns {
  display: flex;
  margin: 0 -0.5rem;
}

.task .task-action-btns button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .task-action-btns button:hover {
  opacity: 0.8;
}

.task .task-action-btns button:active {
  opacity: 0.6;
}

.task .task-action-btns .edit {
  background: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.task .task-action-btns .delete {
  color: crimson;
}

.deleteAll {
  text-align: center;
  padding: 2rem 0;
}

.deleteAll button {
  color: crimson;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.4s;
}

.deleteAll button:hover {
  opacity: 0.8;
}

.deleteAll button:active {
  opacity: 0.5;
}
